.buttons{
    background-color: black;
    border: 1px solid yellow;
    color: white;
    text-align: center;
    width: 160px;
    height: 50px;
    margin:10px;
}
.inputPass{
    background-color: #888888;
    width: 160px;
    height: 60px;
    text-align: center;
    margin: 10px;
}
#scores{
    background-color: black;
    border: 1px solid yellow;
    color: white;
    text-align: center;
    width: 60%;
}

.main-div{
    width: 1024px;
    height: 720px;
    background-color: black;
    overflow: hidden;
}

.btn-open-menu{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 20;
}

.menu-open-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 720px;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
    padding: 2rem;
}

.scores-lives{
    background-color: black;
    padding: 20px;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
}