.tilemap {
    width: 672px; /* 32px * 21 = 672 */
    height: 544px; /* 32px * 17 = 544 */
    margin: auto;
    margin-top: 8%;
    padding: 0;
    background-image: url("textures/tilemap_background.png");
}

.tilerow {
    width: 627px;
    height: 32px;
    clear: both;
    margin: 0;
    padding: 0;
}

.tile {
    width: 32px;
    height: 32px;
    float: left;
    margin: 0;
    padding: 0;
    /*border: 1px red solid;*/
}